/* Options boxes */
.content.upsell {padding:30px;background:#FAFBFB;}
	.content.upsell .col-l {float:left;width:50%;padding:25px 0 275px 0;background:url(../img/english/img-google.jpg)50% 100% no-repeat;text-align:center;}
	.content.upsell .col-r {float:left;width:50%;padding:0 0 0 10%;}
	
/* Misc content */
.content.upsell p {float:left;width:100%;font-size:16px;font-weight:700;}
	.content p.light {text-align:center;font-size:11px;color:#cbcbca;font-weight:700;}
.content.upsell .btn-yellow {width:90%;margin:0 5%;padding:15px 5px;}

/* Tablet landscape */
@media screen and (max-width: 68em) {
	.content.upsell {background:none;padding:30px 2%;}
}
/* Phone landscape */
@media screen and (max-width: 58em) {
	.content.upsell .col-l {width:100%;background:none;padding:0;}
	.content.upsell .col-r {width:100%;}
}
/* Tablet portrait */
@media screen and (max-width: 48em) {
	
}
/* Phone portrait */
@media screen and (max-width: 38em) {
	
}