/* Options boxes */
.content.upsell-hosting {padding:30px;background:#FAFBFB;}
	.content.upsell-hosting .col-l {float:left;width:50%;padding:25px 0 275px 0;background:url(../img/img-hosting.jpg)50% 100% no-repeat;text-align:center;}
	.content.upsell-hosting .col-r {float:left;width:50%;padding:0 0 0 10%;}
	
/* Misc content */
.content.upsell-hosting p {float:left;width:100%;font-size:16px;font-weight:700;}
	.content.upsell-hosting p.light {text-align:center;font-size:11px;color:#cbcbca;font-weight:700;}
.content.upsell-hosting .btn-yellow {width:90%;margin:0 5%;padding:15px 5px;}

/* Features */
.content.upsell-hosting .features {float:left;width:100%;padding:0 0 25px 0;margin:0 0 25px 0;border-bottom:3px solid #dfdfdf;}
	.content.upsell-hosting .features ul {float:left;width:100%;margin:0;padding:0;list-style:none;}
		.content.upsell-hosting .features li {float:left;width:100%;padding:0 10px 5px 15px;background:url(../img/bullet3.png)0 3px no-repeat;}

/* Tablet landscape */
@media screen and (max-width: 68em) {
	.content.upsell-hosting {background:none;padding:30px 2%;}
}
/* Phone landscape */
@media screen and (max-width: 58em) {
	.content.upsell-hosting .features {height:auto;padding:10px 20px 20px 20px;background:none;}
	.content.upsell-hosting .col-l {width:100%;background:none;padding:0;}
	.content.upsell-hosting .col-r {width:100%;}
}
/* Tablet portrait */
@media screen and (max-width: 48em) {
	
}
/* Phone portrait */
@media screen and (max-width: 38em) {
	
}